.DS_Store
/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/

# Ignore IRB and Pry history and Pry config
.irb_history
.pry_history
.pryrc
